# Virtual environments
env/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# Environment files
.env
.env.local
*.env

# IDE
.idea/
.vscode/
.DS_Store

# Logs
*.log

# OS
Thumbs.db

# Large model files
*.joblib
*.pkl
*.h5
*.whl
